<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs form-labels form-box">
    <%= f.input :name, label: "Project Name" %>
    <%= f.input :date, label: "Date", placeholder: "mmddyy" %>
    <%= f.input :location, label: "Location" %>
    <%= image_tag "", width: 180, class: "hide", id: "photo-preview" %>
    <%= f.input :image, input_html: { class: 'hide', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: 'Upload a photo' %>

  </div>

  <div class="form-actions btn-white">
    <%= f.button :submit %>
  </div>
<% end %>
