<div class="black">
<div class="d-flex">
  <div class="prj-btns-canvas-descr">
     <div class="container justify-content-md-center">
        <div class="row">
          <div class="col-12 col-md-4 m-0">
            <div class="prj-descr">
              <h2><%= @project.name %></h2>
              <h4><%= @project.location %></h4>
            </div>
            <div class="edit-delete-project">
            <span>
              <%= link_to "Edit", edit_project_path %>
               /
              <%= link_to "Delete", project_path, method: 'delete', data: { confirm: "Do you want to delete this project ?"} %>
              </span>
            </div>
          </div>
        </div>
        <div class="row canvases-container">
            <div class="col-4" class="card-canvas">
              <%= link_to new_project_canvas_path(@project) do %>
              <div id="add-canvas" class="card-canvas tooltip-new-canvas">
                <%= image_tag "https://res.cloudinary.com/dkjjz54zd/image/upload/v1569397112/_version_b_zf3y7q.png", alt: "Add new canvas", width: 335, height: 185 %>
                <span class="tooltiptext">Create new canvas</span>
              </div>
              <% end %>
            </div>
            
          <% @project.canvases.each_with_index do |canvas, index| %>
          <div class="col-md-4 card-container">

            <%= link_to canvas_path(canvas), id: "link" do %>

                <% if !canvas.photo.url.nil? %>
                  <div class="card-canvas">
                    <div  class="face" id='upside'>
                    <%= cl_image_tag canvas.photo, height: 182, crop: :fill %>
                    </div>
                    <div class="face" id='downside'>
                      <div id="render-svg" data-canvas-svg="<%= canvas.canvas_svg %>" style="background: white;">
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div id="render-svg" data-canvas-svg="<%= canvas.canvas_svg %>" style="background: white;"></div>
                <% end #end of if/else %>
          <% end #end of link %>
            <div class="controls">
              <i data-link="<%= 'lite-it.herokuapp.com' + canvas_path(canvas) %>" class="fas fa-link tooltip">
              <span class="tooltiptext">Copy link to clipboard</span></i>
              <%= link_to  '<i class="fas fa-pen-square"></i>'.html_safe, edit_canvas_url(canvas) %>
              <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, canvas_path(canvas), method: 'delete', data: { confirm: "Do you want to delete this canvas?"} %>                                
            </div>
          </div>
        <% end #end of each with %>
       </div>
     </div>
  </div>
</div>
</div>
<%= javascript_pack_tag 'canvas-show' %>
