<div class="cont">
  <div class="row justify-content-center pt-4">
<%
=begin%>
 
    <div class="top-side-navigation col-2"> <%= @canvas.name.nil? ? "Title" : @canvas.name %></div>
    <div class="top-navigation col-10">
      <%= link_to  '<i class="fas fa-times"></i>'.html_safe, project_path(@canvas), class: 'crud-btn d-inline float-right' %>
      <%= form_for :canvas, url: canvas_url(@canvas), method: :patch, html: { id: "save-btn" } do |f|%>
        <%= f.hidden_field :state_json, id: 'canvas_json' %>
        <%= f.hidden_field :canvas_svg, id: 'canvas_svg' %>
        <%= f.button '<i class="far fa-save"></i>'.html_safe, id: 'save-submit', class: 'crud-btn d-inline float-right' %>
      <% end %>
    </div> 
<%
=end%>
    <div class="side-navigation col-2">
      <div class="nav_btn"><p id="equip">Subject Position</p>
      </div>
      <div class="nav_btn drop"><p>Camera</p>
        <ul class="drop-content">
          <li id="equip">35 mm</li>
          <li id="equip">Medium format</li>
          <li id="equip">View camera</li>
        </ul>
      </div>
      <div class="nav_btn drop"><p>Light</p>
        <ul class="drop-content">
          <li id="equip" type="Strobe">Strobe</li>
          <li id="equip">Standart reflector</li>
          <li id="equip">Umbrella</li>
          <li id="equip">Softbox</li>
          <li id="equip">Beauty dish</li>
          <li id="equip">Med reflector</li>
          <li id="equip">Long reflectore</li>
          <li id="equip">XL umbrella</li>
        </ul>
      </div>
      <div class="nav_btn drop"><p>Grip</p>
        <ul class="drop-content">
          <li id="equip">Large boom</li>
          <li id="equip">Frame</li>
        </ul>
      </div>
      <div class="nav_btn drop"><p>Reflectors</p>
        <ul class="drop-content">
          <li id="equip">Black V Flat</li>
          <li id="equip">White V Flat</li>
          <li id="equip">V Flat Open</li>
          <li id="equip">Silver reflector</li>
          <li id="equip">White reflector</li>
        </ul>
      </div>
      <div class="nav_btn drop"><p>Misc</p>
        <ul class="drop-content">
          <li id="equip">Cube</li>
          <li id="equip">Work light</li>
        </ul>
      </div>
      <div class="nav_btn drop"><p>Environment</p>
        <ul class="drop-content">
          <li id="equip">Seamless paper</li>
          <li id="equip">Wall</li>
          <li id="equip">Window</li>
        </ul>
      </div>
      <div id="text-btn" class="nav_btn"><p>Text</p></div>
      <div id="drawing-mode-btn" class="nav_btn"><p>Drawing mode</p></div>
      <button id="delete-btn" class="nav_btn"><p>Delete item</p></button>
      <%= link_to project_path(@project), class: 'nav-btn' do %>
        <div class="nav_btn"><p><i class="fas fa-chevron-left"></i>  Project page</p></div>
      <% end %>
      <div class="nav_btn"><p></p></div>
      <%= form_for :canvas, url: canvas_url(@canvas), method: :patch, html: { id: "save-btn" } do |f|%>
        <%= f.hidden_field :state_json, id: 'canvas_json' %>
        <%= f.hidden_field :canvas_svg, id: 'canvas_svg' %>
        <%= f.button 'Save', id: 'save-submit', class: "nav_btn" %>
      <% end %>
    </div>
    <div class="canvas-cont col-10">
      <canvas id="canvas" width="1000px" height="600px" data-canvas-json="<%= @canvas.state_json %>" ></canvas>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'canvas' %>
