<div class="container">
  <div class="row pt-4">
    <div class="top-navigation col-2">
      <button id="rectangle-btn">Red Rectangle</button>
      <button id="text-btn">Textbox</button>
      <button id="drawing-mode-btn">Drawing mode</button>
      <button id="delete-btn">Delete selected</button>
      <button id="corner-btn">Corener</button>
      <button id="window-btn">Window</button>
      <button id="flash1-btn">Flash1</button>
      <button id="flash2-btn">Flash2</button>
      <button id="flash3-btn">Flash3</button>
      <button id="ring-btn">Ring</button>
      <button id="background-btn">Background</button>
      <button id="softbox-btn">Softbox</button>

      <%= form_for :canvas, url: project_canvases_url, method: :post, html: { id: "save-btn" } do |f|%>
        <%= f.hidden_field :description, id: 'canvas_json' %>
        <%= f.hidden_field :photo, id: 'canvas_svg' %>
        <%= f.submit 'Save canvas' %>
      <% end %>
    </div>
    <div class="canvas-container col-10">
      <canvas id="canvas" width="1000px" height="600px" data-canvas="<% @canvas %>"></canvas>
    </div>
    <div class="bottom-navigation" id="bottom-navigation"></div>
  </div>
</div>
<%= javascript_pack_tag 'canvas' %>